{% extends "base.html.twig" %}

{% block title %}Projet syndic{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue</h1>
        <p class="lead">Projet syndic est une application pour gerer votre copropriété</p>
        <hr class="my-4">
        <p>Consulter, signaler et ne rater rien de tout ce qu'il se passe dans votre immeuble</p>
        <p>Vous pouvez vous connecter ou vous inscrire</p>
        <a href="" class="btn btn-primary">Connexion</a>
        <a href="" class="btn btn-secondary">Inscription</a>
    </div>
</div>
{% endblock %}