{% extends 'base.html.twig' %}

{% block title %}Syndic - edition Mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Edition du profil</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}
</div>
{% endblock %}
