{% extends 'base.html.twig' %}

{% block title %}Syndic - edition profil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Edition du profil</h1>
    {{ form(form) }}
</div>
{% endblock %}
