{% extends 'base.html.twig' %}

{% block title %}Syndic - Edition Problematiques{% endblock %}

{% block body %}
<div class="container">
    <h1 class="display-4 text-secondary my-4">Modifier une problematique</h1>
    <hr>
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {{ form_start(form) }}
    <div class="mb-2">

        {{ form_widget(form.problematique) }}
    </div>
    <div class="mb-2">
        {{ form_widget(form.suiviProblematique) }}
    </div>
</div>

{% endblock %}