{% extends 'base.html.twig' %}

{% block title %}Syndic - Connexion{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Formulaire de connexion</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form action="{{path('app_login')}}" method="post">
        <div class="form-group">
            <label for="username" class="form-label mt-4">Adresse email</label>
            <input type="email" class="form-control" id="username" name="_username" placeholder="exemple@mail.com" value="{{ last_Username }}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password" class="form-label mt-4">Mot de passe</label>
            <input type="password" class="form-control" id="password" placeholder="************" name="_password" autocomplete="off">
          </div>
          <button class="btn btn-primary mt-4" type="submit">Se connecter</button>
    </form>
</div>
{% endblock %}
